::ng-deep .mat-input-wrapper{
  width:250px !important;
}

.unlock-delete {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.button-section {
  button {
    margin-top:10px;
  }
  div {
    margin-top:10px;
  }
}