<button mat-fab color="primary" (click)="newMember()" class="add-button">
  <mat-icon aria-label="Create New">add</mat-icon>  
</button>

<div class="table-wrapper">
  <div class="table-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
  
  <div class="table-container">
  
    <mat-table [dataSource]="dataSource" matSort>
  
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="authorizedBoxNames">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Authorize For </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ (row.authorizedBoxNames || []).join(', ') }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="created">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.created}} </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="updated">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Updated Date </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.updated}} </mat-cell>
      </ng-container>      

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowSelected(row)">
      </mat-row>
    </mat-table>  
  </div>
</div>
