@mixin md-icon-size($size: 24px) {
  font-size: $size;
  height: $size;
  width: $size;
}

.mat-icon {
  @include md-icon-size(46px);
  position: relative;
  top: -11px;
}

mat-cell {
  padding: 2px;
}

.add-button {
  position: fixed;
  bottom: 50px;  
  left: 50px;
}

.table-wrapper {
  padding: 20px;
}
