<table>
  <tr>
    <th>&nbsp;</th>
    <th *ngFor="let period of periods"> {{ period }}</th>
  </tr>
  <tr *ngFor="let member of members">
    <th style="text-align: left; border-top: thin black solid; border-left:thin black solid" class="member-name"> {{ member }} </th>
    <td *ngFor="let period of periods" style="text-align: center; border-top: thin black solid; border-left:thin black solid">
      <span [ngClass]="checkMarkClass(member, period)">{{ memberStatus(member, period) }}</span>
    </td>
  </tr>
  <tr>
    <th style="text-align: left; border-top: medium black solid; border-left:thin black solid"> Totals: </th>
    <td *ngFor="let period of periods; let i = index" style="text-align: center; border-top: medium black solid; border-left:thin black solid">
      {{ data[i]?.members?.length }}
    </td>
  </tr>
  <tr>
    <th style="text-align: left; border-top: thin black solid; border-left:thin black solid"> New: </th>
    <td *ngFor="let period of periods; let i = index" style="text-align: center; border-top: thin black solid; border-left:thin black solid">
      {{ newMembersCount(data, i) }}
    </td>
  </tr>
  <tr>
    <th style="text-align: left; border-top: thin black solid; border-left:thin black solid"> Continuing: </th>
    <td *ngFor="let period of periods; let i = index" style="text-align: center; border-top: thin black solid; border-left:thin black solid">
      {{ activeMembersCount(data, i) }}
    </td>
  </tr>
  <tr>
    <th style="text-align: left; border-top: thin black solid; border-left:thin black solid"> Terminating: </th>
    <td *ngFor="let period of periods; let i = index" style="text-align: center; border-top: thin black solid; border-left:thin black solid">
      {{ terminalMembersCount(data, i) }}
    </td>
  </tr>
</table>