<table>
  <tr>
    <th>&nbsp;</th>
    <th *ngFor="let period of periods"> {{ period }}</th>
  </tr>
  <tr *ngFor="let member of members">
    <th class="member-name"> {{ member }} </th>
    <td *ngFor="let period of periods" style="text-align: center;">
      <span [ngClass]="checkMarkClass(member, period)">{{ memberStatus(member, period) }}</span>
    </td>
  </tr>
  <tr>
    <th> Totals: </th>
    <td *ngFor="let period of periods">
      {{ data[period]?.members?.length }}
    </td>
  </tr>
</table>