.member-name {
  text-align: left;
}

.checkmark-active {
  color: green;
  font-weight: 900;
  font-size: 30px;
}

.checkmark-dormant {
  color: gray;
  font-weight: 900;
  font-size: 30px;
}

.checkmark-terminal {
  color: red;
  font-weight: 900;
  font-size: 30px;
}

.checkmark-new {
  color: blue;
  font-weight: 900;
  font-size: 30px;
}
