.member-name {
  text-align: left;
}

.checkmark-active {
  color: green;
  font-weight: 900;
  font-size: 30px;
  position: relative;
  top: 4px;
}

.checkmark-terminal {
  color: red;
  font-weight: 900;
  font-size: 30px;
  position: relative;
  top: 4px;
}

.checkmark-new {
  color: blue;
  font-weight: 900;
  font-size: 30px;
  position: relative;
  top: 4px;
}

td, th {
  white-space: nowrap;
}

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}
