<table>
  <tr>
    <th><button (click)="openCalendarDialog()">Change Dates</button></th>
    <th *ngFor="let year of years" [attr.colspan]="year.count" style="padding-top: 4px; padding-left: 4px; padding-right: 4px; text-align: center; border-top: thin black solid; border-left:medium black solid"> {{ year.year }}</th>
  </tr>
  <tr>
    <th>
      <span *ngIf="members.length > 0">
        Displaying {{ members.length }} Members
      </span>
    </th>
    <th *ngFor="let period of periodHeaders" [style.border-left]="period === 'Jan' ? 'medium black solid' : 'thin black solid'" style="font-family: Lucida Console, Courier, monospace; font-weight: boldest; padding-top: 4px; padding-left: 4px; padding-right: 4px; text-align: center; border-top: thin black solid;"> {{ period }}</th>
  </tr>
  <tr *ngFor="let member of members">
    <th style="padding-top: 4px; padding-left: 4px; padding-right: 4px; text-align: left; border-top: thin black solid; border-left:thin black solid" class="member-name"> {{ member }} </th>
    <td *ngFor="let period of periods; let i = index" [style.border-left]="periodHeaders[i] === 'Jan' ? 'medium black solid' : 'thin black solid'" style="text-align: center; border-top: thin black solid;">
      <span [ngClass]="checkMarkClass(member, period)">{{ memberStatus(member, period) }}</span>
    </td>
  </tr>
  <tr>
    <th style="padding-top: 4px; padding-left: 4px; text-align: left; border-top: medium black solid; border-left:thin black solid"> Totals: </th>
    <td *ngFor="let period of periods; let i = index" [style.border-left]="periodHeaders[i] === 'Jan' ? 'medium black solid' : 'thin black solid'" style="text-align: center; border-top: medium black solid">
      {{ data[i]?.members?.length }}
    </td>
  </tr>
  <tr>
    <th style="padding-top: 4px; padding-left: 4px; text-align: left; border-top: thin black solid; border-left:thin black solid"> New: </th>
    <td *ngFor="let period of periods; let i = index" [style.border-left]="periodHeaders[i] === 'Jan' ? 'medium black solid' : 'thin black solid'" style="text-align: center; border-top: thin black solid;">
      {{ newMembersCount(data, i) }}
    </td>
  </tr>
  <tr>
    <th style="padding-top: 4px; padding-left: 4px; text-align: left; border-top: thin black solid; border-left:thin black solid"> Continuing: </th>
    <td *ngFor="let period of periods; let i = index" [style.border-left]="periodHeaders[i] === 'Jan' ? 'medium black solid' : 'thin black solid'" style="text-align: center; border-top: thin black solid;">
      {{ activeMembersCount(data, i) }}
    </td>
  </tr>
  <tr>
    <th style="padding-top: 4px; padding-left: 4px; text-align: left; border-top: thin black solid; border-left:thin black solid"> Terminating: </th>
    <td *ngFor="let period of periods; let i = index" [style.border-left]="periodHeaders[i] === 'Jan' ? 'medium black solid' : 'thin black solid'" style="text-align: center; border-top: thin black solid;">
      {{ terminalMembersCount(data, i) }}
    </td>
  </tr>
  <tr *ngFor="let tier of knownTiers; let j = index">
    <th style="padding-top: 4px; padding-left: 4px; text-align: left; border-left:thin black solid" [style.border-top]="j === 0 ? 'medium black solid' : 'thin black solid'"> {{ tier }} </th>
    <td *ngFor="let period of periods; let i = index" [style.border-left]="periodHeaders[i] === 'Jan' ? 'medium black solid' : 'thin black solid'" [style.border-top]="j === 0 ? 'medium black solid' : 'thin black solid'" style="text-align: center;">
      {{ countMembersByTier(data, i, tier) }}
    </td>
  </tr>
  <tr *ngIf="anyUnknownTiers(data)">
    <th style="padding-top: 4px; padding-left: 4px; text-align: left; border-left:thin black solid; border-top: thin black solid"> Unknown </th>
    <td *ngFor="let period of periods; let i = index" [style.border-left]="periodHeaders[i] === 'Jan' ? 'medium black solid' : 'thin black solid'" style="text-align: center; border-top: thin black solid">
      {{ countMembersByUnknownTier(data, i) }}
    </td>
  </tr>
</table>