<h1 mat-dialog-title>Create New AuthBox</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="data.name">
  </mat-form-field>  
  <mat-form-field>
    <input matInput placeholder="ID" [(ngModel)]="data.id">
  </mat-form-field>      
  <mat-form-field>
    <input matInput placeholder="Access Code" [(ngModel)]="data.access_code">
  </mat-form-field>  
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" [disabled]="!(data.name && data.access_code && data.id)"cdkFocusInitial>Save</button>
</div>
