@mixin md-icon-size($size: 24px) {
  font-size: $size;
  height: $size;
  width: $size;
}

.mat-icon {
  @include md-icon-size(46px);
  position: relative;
  top: -11px;
}

.add-button {
  position: fixed;
  bottom: 50px;  
  right: 50px;
}

.member-list-container {  
  grid-area: leftcol;  
  width: 100%;
  // background-color: rgba(0, 255, 255, 0.5);
  .members-list {
    position: relative;
    top: -25px;
  }
}


.access-history {
  grid-area: rightcol;
  // background-color: rgba(255, 0, 0, 0.5);
}

.split-grid { 
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-areas: 
    "leftcol rightcol"
}

.download-csv {
  float: right;
}