<button *ngIf="members"
  mat-fab color="primary" (click)="addAuthorizedMember()" class="add-button">
  <mat-icon aria-label="Add Authrorized Member">add</mat-icon>
</button>
<h1>"{{ authboxName }}" AuthBox Detail</h1>
<div class="split-grid">
  <div class="member-list-container">
    <h2>Authorized Members</h2>
    <mat-list class="members-list">
      <mat-list-item *ngFor="let member of authorizedMembers()">
        {{ member?.namified?.name || member.name }}
      </mat-list-item>
    </mat-list>
  </div>
  <div class="access-history">
    <div style="width: 95%">
      <h2>Access History
        <span class="download-csv">
          <button (click)="downloadCsv()">csv</button>
        </span>
      </h2>

      <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>

      <mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="member">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Member </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.member}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="authorized">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Authorized On </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.authorized}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="deauthorized">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Locked On </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.deauthorized}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>

      <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
    </div>
  </div>
</div>